<div 
style="
position: relative; 
left: 0; 
top: 0; 
width: 100%; 
height: 100%;
display: flex; 
justify-content: center; 
background-color: rgb(3, 78, 78); 
align-items: center; 
flex-direction: column;
overflow: auto;
padding: 1rem;"> 
  <h1 style="color: white;">This is Multi User Form</h1>

  <div style="color: white;font-size: larger; padding: .5em;">
    <input type="radio" name="type" value="y" [(ngModel)]="isStudent">Student
    <input type="radio" name="type" value="n" [(ngModel)]="isStudent">Admin
  </div>
  
  <div  *ngIf="isStudent == 'y'">
    <form (ngSubmit)="submitForm()" id="studForm" novalidate>
      <fieldset>
        <div class="form-row">
          <label>Student Roll :</label>
          <input type="number" id="studRoll" [(ngModel)]="roll" name="studRoll" 
                 placeholder="Enter roll number" required>
          <span style="color: red;" class="error" *ngIf="!roll">Roll number is required.</span>
        </div>
        <div class="form-row">
          <label>Student Name :</label>
          <input type="text" id="studName" [(ngModel)]="name" name="studName" placeholder="Enter name"required>
          <span style="color: red;" class="error" *ngIf="!name">Name is required.</span>
        </div>
        <div class="form-row">
          <label>Student Age :</label>
          <input type="number" id="studAge" [(ngModel)]="age" name="studAge" 
                 placeholder="Enter age" required min="1">
          <span style="color: red;" class="error" *ngIf="!age || age < 1">Age is required and must be a positive number.</span>
        </div>
        <div>
          <label>Student Gender :</label>
          <br><input type="radio" name="studGen" [(ngModel)]="gender" value="male" required>Male
          <br><input type="radio" name="studGen" [(ngModel)]="gender" value="female" required>Female
          <br><span style="color: red;" class="error" *ngIf="!gender">Gender is required.</span>
        </div>
        <div class="form-row">
          <label>Student Address :</label>
          <br><textarea id="studAddr" [(ngModel)]="addr" name="studAddr" 
                        placeholder="Enter address" title="This is the student's address" required></textarea>
          <span style="color: red;" class="error" *ngIf="!addr">Address is required.</span>
        </div>
        <div>
          <label>Student Subjects :</label>
          <br>
          <input type="checkbox" name="studSub" value="cs" (change)="updateSubjects($event)" 
                 title="Select if the student is taking CS">CS
          <br>
          <input type="checkbox" name="studSub" value="db" (change)="updateSubjects($event)" 
                 title="Select if the student is taking DB">DB
          <br>
          <input type="checkbox" name="studSub" value="ai" (change)="updateSubjects($event)" 
                 title="Select if the student is taking AI">AI
          <br>
          <input type="checkbox" name="studSub" value="ui/ux" (change)="updateSubjects($event)" 
                 title="Select if the student is taking UI/UX">UI/UX
        </div>
        <div class="form-row">
          <label>Institution Type :</label>
          <select [(ngModel)]="instType" name="instType" 
                  title="Select the type of institution" required>
            <option value="private">private</option>
            <option value="gov">gov</option>
          </select>
          <span style="color: red;" class="error" *ngIf="!instType">Institution type is required.</span>
        </div>

        <div class="form-row" style="display: flex; justify-content: center; margin-top: .5rem;">
          <button *ngIf="currentUser" type="button" (click)="saveChanges()" [disabled]="!isFormValid()">Save</button>
          <button *ngIf="!currentUser" type="submit" [disabled]="!isFormValid()">Submit Form</button>
          <button type="reset" (click)="clearForm()">Clear Form</button>
        </div>
      </fieldset>
    </form>
  </div>

  <div *ngIf="isStudent == 'n'">
    <form (ngSubmit)="submitForm()" id="adminForm" novalidate>
      <fieldset>
        <div class="form-row">
          <label>Admin UID :</label>
          <input type="number" id="adminUID" [(ngModel)]="uid" name="adminUID" 
                 placeholder="Enter UID" title="This is the admin's UID" required>
          <span style="color: red;" class="error" *ngIf="!uid">UID is required.</span>
        </div>
        <div class="form-row">
          <label>Admin Name :</label>
          <input type="text" id="adminName" [(ngModel)]="name" name="adminName" 
                 placeholder="Enter name" title="This is the admin's name" required>
          <span style="color: red;" class="error" *ngIf="!name">Name is required.</span>
        </div>
        <div class="form-row">
          <label>Admin Age :</label>
          <input type="number" id="adminAge" [(ngModel)]="age" name="adminAge" 
                 placeholder="Enter age" title="This is the admin's age" required min="1">
          <span style="color: red;" class="error" *ngIf="!age || age < 1">Age is required and must be a positive number.</span>
        </div>
        <div class="form-row">
          <label>Admin Email :</label>
          <input type="email" id="adminEmail" [(ngModel)]="email" name="adminEmail" 
                 placeholder="Enter email" title="This is the admin's email" required>
          <span style="color: red;" class="error" *ngIf="!email">Email is required.</span>
        </div>
        <div class="form-row">
          <label>Admin Phone No :</label>
          <input type="number" minlength="10" id="adminPhone" [(ngModel)]="phone" name="adminPhone" 
                 placeholder="Enter phone number" title="This is the admin's phone number" required>
          <span style="color: red;" class="error" *ngIf="!phone|| phone.toString().length < 10">Phone number is required and must be at least 10 digits.</span>
        </div>
        <div style="margin-top: .5rem;">
          <label>Admin Gender :</label>
          <br><input type="radio" name="adminGen" [(ngModel)]="gender" value="male" required>Male
          <br><input type="radio" name="adminGen" [(ngModel)]="gender" value="female" required>Female
          <span style="color: red;" class="error" *ngIf="!gender">Gender is required.</span>
        </div>
        <div class="form-row" style="margin-top: .5rem;">
          <label>Admin Address :</label>
          <br><textarea id="adminAddr" [(ngModel)]="addr" name="adminAddr" 
                        placeholder="Enter address" title="This is the admin's address" required></textarea>
          <span style="color: red;" class="error" *ngIf="!addr">Address is required.</span>
        </div>
        <div>
          <label>Department :</label>
          <select [(ngModel)]="department" name="depType" 
                  title="Select the department" required>
            <option value="private">DevOps</option>
            <option value="gov">DB</option>
          </select>
          <span style="color: red;" class="error" *ngIf="!department">Department is required.</span>
        </div>

        <div class="form-row" style="display: flex; justify-content: center; margin-top: .5rem;">
          <button *ngIf="currentUser" type="button" (click)="saveChanges()" [disabled]="!isFormValid()">Save</button>
          <button *ngIf="!currentUser" type="submit" [disabled]="!isFormValid()">Submit Form</button>
          <button type="reset" (click)="clearForm()">Clear Form</button>
        </div>
      </fieldset>
    </form>
  </div>

  <div style=" margin-bottom: .5rem;">
    <table class="user-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>User Type</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of userGroup">
          <td>{{ item.name }}</td>
          <td>{{ item.age }}</td>
          <td>{{ item.uT }}</td>
          <td>

            <button class="edit-btn" (click)="editUser(item)"  >Edit</button>
            <button class="delete-btn" (click)="deleteUser(item)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
